<!-- linking css stylesheet -->
<link rel="stylesheet" href="/stylesheets/user_profile.css" />

<main>
  <!-- display all user information  -->
  <div class="container">
    
    <div class="profile-list1">
      <!-- user profile -->
      <% if(sUser.avatar){ %>
      <li><img src="/<%=sUser.avatar%>" alt=""/></li>
      <% }else{ %>
      <li><img src="/images/dummyprofile.png" alt=""/></li>
        <% } %>
      <div class="info">
        <!-- user name -->
        <li><b><%=sUser.name%></b></li>
        <!-- users short one line about  -->
        <li>Short Bio eg. Head of Customer Success at Hostinger.com</li>
        <!-- users followers count and following count  -->
        <li class="text-follow"><%=sUser.followers.length%> Followers&nbsp; .&nbsp; <%=sUser.following.length%> Following</li>
        
        <!-- follow button and  ask question to user button -->
        <li><a href="/users/follow/<%=sUser._id%>">Follow</a> <button type="submit" id="myBtn5" class="askQBtnU">Ask ?</button></li>
        
      </div>
      <!-- users description -->
     </div>
    <li>
      <p class="text">
        <h4>About me</h4><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus porro minus soluta, tempora dolores quisquam, odit, sapiente eius ad vitae quis. Ullam maxime laudantium soluta reprehenderit quasi aut, nesciunt perferendis.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque, accusamus adipisci quidem quae fugiat distinctio quis enim voluptate, eum, dolores quaerat! Temporibus ea vel esse excepturi, facilis at architecto magnam.
      </p>
    </li>

    <!-- list of activity -->
    <div class="profile-list2">

      <li>Profile</li>
      <li>0 Answers</li>
      <li>0 Question</li>
      <li>0 Posts</li>
      <li><%=sUser.followers.length%> Followers</li>
      <li><%=sUser.following.length%>  Following</li>
      <li>Edits</li>
      <li>Activity</li>
    </div>
    <hr>

    <!-- model for ask question to specific user  -->

    <!-- The Modal -->
    <div id="myModal5" class="modal5">
      <!-- Modal content -->
      <div class="modal-content5">
        <span class="close5">&times;</span>
          <div class="content5">
            <% if(locals.user){%>
              <form action="/questions/create-specific/<%=sUser._id%>" method="post">
                <input
                  type="text"
                  name="content"
                  placeholder="ask question to the user"
                />
                <button type="submit" class="button-5 ">Ask Question</button>
              </form>
              <% } %>
          </div>
      </div>
    </div>
  </div>
</main>
<div class="singout">
<button class="button-signout" role="button"><a href="/users/sign-out">Sign Out</a></button>

</div>

<!-- linking javascripts  -->
<script src="/javascripts/userprofile.js"></script>